@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome to The Emporium</h1>
    <p class="lead">We carry all sorts of magical products!</p>
    <img src="images/magic.jpg" class="img-fluid" alt="splash"/>
</div>
