@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Emporium</h1>
    <p>We carry a random assortment of products!</p>
    
    <div class="row">
        <p class="lead">Browse our products!</p>
    </div>

</div>
